@import url("https://fonts.googleapis.com/css?family=Montserrat");

.App {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: flex;
  justify-content: center;
  overflow: auto;
}

@media only screen and (max-width: 3840px) {
  .App-Leaderboard {
    width: 800px;
    height: 180px;
    background-color: #05050670;
    display: flex;
    flex-direction: column;
    font-size: calc(8px + 2vmin);
    color: white;
    margin-top: 40px;
  }
}

@media only screen and (max-width: 1920px) {
  .App-Leaderboard {
    width: 600px;
    height: 160px;
  }
}

@media only screen and (max-width: 900px) {
  .App-Leaderboard {
    height: 120px;
    margin: 40px;
  }
}
